body, div, ul, ol, dd, dt, h1, h2, h3, h4, h5, h6, input, select, p, option, textarea {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

ul li {
  list-style: none; }

html {
  /*font-size: 100px;*/
  font-size: 26.67vw;
  /*1vw = 3.75px

    ?vw = 100px

    ? = 100/3.75 = 26.67vw*/ }
html,body{
  height: 100%;
  /*display: flex;*/
  /*flex-direction: column;*/
}

